/*stylesheet*/

body {
	margin: 0;
	background-image: url("../images/terrazzo.jpg");
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 200;
}

#wrapper{
	margin: 2em auto;
	max-width: 1200px;
	padding:0 2em;
}

#main {
	background: #95b37b;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: #95b37b;
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#content {
	background: #95b37b;

}

#nav li a{
	color: #fff;
	transition: all .3s ease-in-out;
	text-decoration: none;
}

#nav li a:hover {
	color: green;
	text-decoration: none;
	background: white;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}
	#main {
	margin: 1em;
	padding: 0em;
	
}
}
