/*stylesheet*/

body {
	margin: 0;
	background-image: url("../images/terrazzo.jpg");
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 200;
}

#wrapper{
	margin: 2em auto;
	max-width: 1200px;
	padding:0 2em;
}

#main {
	background: #95b37b;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: #95b37b;
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#content {
	background: #95b37b;

}

#nav li a{
	color: #fff;
	transition: all .3s ease-in-out;
	text-decoration: none;
}

#nav li a:hover {
	color: green;
	text-decoration: none;
	background: white;
}

#exquisite {
	position: relative;
	margin-bottom: 2em;
}

#exquisite .grid {
	grid-gap: 0;

}

#exquisite .grid img {
	margin-bottom: 0;
}

#projects {
	margin-bottom: 2em;
}


#projects .grid-item {
	color: white;
	position: relative;

}

#projects .grid-item img {
	display:block;
	width:100%;
	height:auto;

}

	#projects .grid-item .overlay {
	opacity: 0;
	transition: all .3s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display:flex;
	align-items: center;
	justify-content: center;

}

#projects .grid-item:hover .overlay {
	opacity: 1;

}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;


}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}
	#main {
	margin: 1em;
	padding: 0em;
	
}
}
